* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(150, 150, 150);
    background-image: url(../public/assets/img/back.jpg);

}

h1 {
    text-align: center;
    padding: 50px;
    font-size: 3em;
    color: rgb(220, 219, 219);
}

.card {
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    border-radius: 30px;
    background-color: rgba(173, 176, 179, 0.745);
    margin: 0 auto;
    width: 500px;
    padding: 30px;
}

h2 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 2em;
}

.btn {
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    width: 50%;
    margin: 0 auto;
    background-color: pink;
    cursor: pointer;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qm {
    width: 200px;
    padding: 30px;
}